:root {
    --backgroundPrimary: #FDFAF5;
    --backgroundSecondary: rgb(232, 247, 221);
    --title: #FFFFFF;
    --textGreen: #28a745;
}

* {
    margin: 0px 0px 16px 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    flex-direction: column;
    background-size: cover;
}

.container-fluid {
    background-color: var(--backgroundPrimary);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}